
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f0f0;
    background-image: url('./images/pexels-eduardo-braga-4788-1296726.jpg');
    background-size:cover ;


    background-size: cover; /* Ajusta el tamaño para que la imagen completa se vea */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; 
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
}

header {
    background-color: #f9ca00;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* Ajusta el tamaño del logo según necesites */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex: 1;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s /* Transición para el efecto hover */
}

nav ul li a:hover {
    background-color: rgb(248, 244, 244);
    color:#080808;
    
   
}
.list {
    
    text-align: left;
}

.bold {
    font-weight: bold ;
}

.container {
    padding: 50px 20px;
}

.section {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
}

.section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.section p {
    margin-bottom: 10px;
}

.section button {
    background-color: #f9ca00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.section button:hover {
    background-color: #ffd700;
}

.content {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo más oscuro para el contenido desplegable */
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

/* Estilos para la modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #f9ca00 ;
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 20px;
}

.social-media img {
    width: 30px; /* Ajusta el tamaño de los iconos de redes sociales según necesites */
    margin: 0 10px;
}

/* Media Queries para Tablets */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

/* Media Queries para Móviles */
@media (max-width: 480px) {
    .logo img {
        width: 80px;
    }

    .section h3 {
        font-size: 1.2rem;
    }

    .section p, .section button {
        font-size: 0.9rem;
    }


    .modal-content {
        width: 100%;
    }
}





